<nav class="navbar navbar-inverse">
    <h4 style="color: white;"> --> <span class="text-info">Silcam</span> >>> <span class="text-warning">CS-Helpdesk</span></h2>
</nav>
<h1 class="page-header text-info text-center"><%= image_tag "chantier.png" %>This Page is under construction <a href="/connexion/new" class="btn btn-warnig">Back Home</a></h1>
<h1 class="text-center"><%= image_tag "travaux.png" %></h1>
<h2 class="page-header text-center"><a href="/connexion/new" class="btn btn-warnig">Back Home</a></h2>