<div class="col-sm-4 col-sm-offset-4" style="color:white; text-align: center;">
    <h6 >(c) 2017 sil-cam</h6>
    <p><%= image_tag "silcambig.png" %></p>
</div>
<style>
    p img{
        height: 60px;
        width: 50px;
    }
    </style>