<div class="list-group">
  <a href="/job_requests/new" class="list-group-item">New Job <span class="direct"></span></a>
  <a href="/job_requests" class="list-group-item">Jobs List <span class="direct"></span></a>
  <a href="/solutions/new" class="list-group-item">Solve Job <span class="direct"></span></a>
  <a href="/solutions" class="list-group-item">List Job solver<span class="direct"></span></a>
</div>

<style>
.list-group a{
  text-decoration-line: none;
  
}
.direct
{
    float: right;
    font-weight: bold;
    color: skyblue;
}
</style>
