<div class="list-group">
  <a href="/devices" class="list-group-item">Equipement park </a>
  <a href="/devices" class="list-group-item">New Device </a>
  <a href="/devices/new" class="list-group-item">View Device by Group </a>
  <a href="#" class="list-group-item">Print</a>
</div>
<div class="panel panel-default panel1">
  <div class="panel-heading"><a href="#">By Author</a></div>
  <div class="panel-body">
     <%= image_tag "max.jpg" %>
     <h6 class="text-center">Trainer at SIL-cam</h6>
     <a href="#" class="btn btn-primary">Read more...</a>
  </div>
</div>


<style>
.list-group a{
  text-decoration-line: none;
  
}
.panel1 img{
  height: 150px;
  width: 150px;
  border-radius: 100px;
  border: 3px solid white;
  box-shadow: 2px 2px 1px silver;
  
}
.direct
{
    float: right;
    font-weight: bold;
    color: skyblue;
}
</style>